.top-10{
  margin-top: 10px;
}
.c{
  color: whitesmoke;
}

ion-label{
  color: #f4f5f8;
}
ion-content.background{
  --ion-background-color: #030218;
}

ion-button{
 height:5em;
 fill: outline;
  border-start-end-radius:50px;
//  width: 169px;
// outline-color: dodgerblue;

}
ion-button.text{
  
  color: whitesmoke;
  
  
} 
.logo{
  size: 400px;
}

img{
  width: 45px;
}

.tio{
  width: 200px;
}

.botonesInferiores{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
}
ion-label.color{
  color:whitesmoke;
}

ion-toolbar{
font-size: 25px;
}

.return{
  font-size: 35px;
}

ion-input{
  color: whitesmoke;
}
