<ion-header>
  <ion-toolbar color="primary" >
    <ion-icon name="arrow-back" slot="start" size="large"routerLink="/mensajes"></ion-icon>
    <img class="avatar"  slot="end" src="\assets\icon\img\imagenlogo-Avatar.png"routerLink="/btn-inicio">
    <ion-title class="ion-text-center">Nuevo Mensaje Publico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
 
  <div *ngFor="let message of messages">
    <ion-card>
     <ion-card-content>
       <h2>Nombre: {{message.nombre}} </h2>
       <h2>Mensaje: {{message.mensaje}}</h2>
     </ion-card-content>
   </ion-card>
 </div>
 
</ion-content>

<ion-footer class="background">
  <ion-toolbar color="dark">
    <ion-textarea placeholder="Mensaje" [(ngModel)]="message"></ion-textarea>
    <ion-buttons slot="end" class="color">
      <ion-button (click)="sendMessage()"> 
        
        <ion-icon color="success" name="send" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


 <!-- <ion-card>
    <ion-item style="color: rgb(134, 134, 134);"><ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>Fecha y Hora</ion-label>
      <ion-datetime displayFormat="D MMM YYYY H:mm" value="{{Fecha | date: 'yyyy-MM-dd'}}"></ion-datetime>
    </ion-item>
 
  <ion-item>
    <ion-label position="floating" class=color>Domicilio</ion-label>
  <ion-input color="light" type="text" ></ion-input>
</ion-item>
    <ion-item>
      <ion-label class="color" position="floating"> Mensaje</ion-label>
        <ion-textarea color="light"></ion-textarea>      
    </ion-item>
  </ion-card>
<ion-card>
  <ion-button class="text" expand="block" fill="outline" ><ion-icon color="success" name="send" slot="end"></ion-icon>Enviar</ion-button>
</ion-card> -->