<ion-header>
  <ion-toolbar class="ion-text-center" color="primary"  > 
    <img routerLink="/btn-inicio" slot="end" class="avatar" src="\assets\icon\img\imagenlogo-Avatar.png">
    <ion-icon slot="start" size="large"name="arrow-back"routerLink="/card"></ion-icon>

        PROVEEDORES
  </ion-toolbar>
</ion-header>


<ion-content class="background">
  <!-- List of Text Items -->
  
  <ion-card>
    <ion-list lines ="none">
      
      <ion-item   [routerLink]="['/infopres', post.id]" *ngFor="let post of vista " >
        <ion-label  class="color"> {{post.nombre}} </ion-label>
      </ion-item>
  </ion-list>
  
  </ion-card>
  
  </ion-content>
  