<ion-header>
  <ion-toolbar class="ion-text-center" color="primary"  > 
    <img routerLink="/btn-inicio" slot="end" class="avatar" src="\assets\icon\img\imagenlogo-Avatar.png">
    <ion-icon slot="start" size="large"name="arrow-back"routerLink="/card"></ion-icon>

        DIRECTORIO 
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="background">
<ion-card mode="ios">
    <ion-item>
    <ion-icon slot="start" name="person-sharp" color="light"></ion-icon>
    <ion-card-title color="light">Presidente</ion-card-title>
    </ion-item>

    <ion-card-content  class="background">
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods.
    </ion-card-content>
  </ion-card> 
</ion-content>