<ion-header>
  <ion-toolbar class="ion-text-center" color="primary" routerLink="/card">
    <ion-row>
      <ion-col size="1">
        <ion-icon class="return" name="arrow-back"></ion-icon>
      </ion-col>

      <ion-col size="9">

        DIRECTORIO 

      </ion-col>
      <ion-col size="2">
        <img class="avatar" src="\assets\icon\img\imagenlogo-Avatar.png">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-card mode="ios">
    <ion-item>
    <ion-icon slot="start" name="person-sharp" color="light"></ion-icon>
    <ion-card-title color="light">Presidente</ion-card-title>
    </ion-item>

    <ion-card-content [fullscreen]="true" class="background">
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods.
    </ion-card-content>
  </ion-card> 
