<ion-header>  
  <ion-toolbar color="primary" routerLink="/alertas">
    <ion-row >
      <ion-col size="1"> 
        <ion-icon class="return" name="arrow-back"  ></ion-icon>  </ion-col>

      <ion-col size="9">
      <p align="center">
     REGISTRO
      </p>
      </ion-col>
      <ion-col size="2" > 
        <img class="avatar" src="\assets\icon\img\imagenlogo-Avatar.png">
      </ion-col>          
    </ion-row> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
<ion-row>
  <ion-col  size="7">
  <ion-button size="large" 
              class="ion-text-wrap"
              color="success"
              fill="outline"><img src="\assets\icon\img\cla.png" >
              </ion-button>
</ion-col>
<ion-col>
<ion-card>
  <ion-item>
    <ion-label position="floating"><ion-icon slot="icon-only" name="key" color="success"></ion-icon></ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-card>
</ion-col>

  </ion-row>
  <br>
<div >

  <ion-item>
    <ion-label class="color" position="floating">NOMBRE</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="color" position="floating">TIPO DE ACCESO</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="color" position="floating">PLACAS</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="color" position="floating">OBSERVACIÓNES</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="color" position="floating">MODO DE INGRESO</ion-label>
    <ion-input></ion-input>
  </ion-item>

</div>
 

<ion-button size="medium"
            expand="block" 
            color="primary"
            fill="outline"><ion-icon slot="icon-only" name="person-add" color="success"></ion-icon>
            REGISTRAR</ion-button>
 


</ion-content>
