


<ion-header mode="ios">
  <ion-toolbar id="grad" mode="ios">
    <ion-icon id="grad" slot="end" name="power-sharp"  size="large"  style="color: rgb(255, 255, 255);" routerLink="/login"></ion-icon>
    <ion-title id="grad"  style="color: rgb(255, 255, 255);">CASETA</ion-title>

  </ion-toolbar>
</ion-header>
 
<ion-content class="background">

  
    <div align="center">
      <img  class="tio" src="\assets\icon\img\guardia.png" >
      
    </div>
     

<ion-row class="top-4">
  <ion-col size="6">
    <ion-button  expand="block" 
                 class="bordo"
                 routerLink="/alertas"              
                 >
                <div>
                  <img src="\assets\icon\img\entrar.png">
                  <br>
                  <label for="">ENTRADAS</label>
                </div>
                </ion-button>
  </ion-col>

  <ion-col size="6">
    
      <ion-button class="bordo"
                   expand="block" 
                   routerLink="/accesos" 
                   >
                   <div>
                    <img src="\assets\icon\img\cerrar-sesion.png">
                    <br>
                    <label for="">SALIDAS</label>
                  </div>
                  </ion-button>    
       
</ion-col>
</ion-row>
 


<ion-row class="top-4">
  <ion-col size="6">
    <ion-button  class="bordo"
                 expand="block" 
                 routerLink="/mensajes" 
                 >
                 <div>
                  <img src="\assets\icon\img\mensaje-recibido.png">
                  <br>
                  <label for="">MENSAJES</label>
                </div>
                </ion-button> 
  </ion-col>

  <ion-col size="6">
    <ion-button  
                 expand="block" 
                 routerLink="/card"  
                 class="bordo">
                 <div>
                  <img src="\assets\icon\img\pruebas.png">
                  <br>
                  <label for="">DIRECTORIO</label>
                  </div>
                </ion-button>
</ion-col>
</ion-row>

  <ion-button expand="block" 
              routerLink="/buscar-principal"
              class="bordo">
              <div>
                <img src="\assets\icon\img\zoom.png">
                <br>
                <label for="">BUSCAR</label>
                </div>
            </ion-button>


  <ion-button expand="block"                
              routerLink="/sos" 
              class="red">
              <div>
                <img src="\assets\icon\img\boton-rojo.png">
                <br>
                <label for="">SOS</label>
                </div>
              </ion-button>
</ion-content>
