
ion-label.color{
    color: #f4f5f8;
}
ion-content.background{
    --ion-background-color: #030218;
}

ion-button{
    height:85px;
    padding-left: 30px;
    padding-right: 30px;
}

img{
    width: 35px;
}
ion-input{
    color: #f4f5f8;
}

.items{
    text-align: center;
    border-radius: 15px;
    width: 95%;
    height: 40px ;
  }
  
  H2{
    font-size: 13PX;
  }