<ion-header>
  <ion-toolbar class="ion-text-center" color="primary" routerLink="/btn-inicio">
    <ion-row>
      <ion-col size="1">
        <ion-icon class="return" name="arrow-back"></ion-icon>
      </ion-col>

      <ion-col size="9">

        SALIDAS 

      </ion-col>
      <ion-col size="2">
        <img routerLink="btn-inicio" class="avatar" src="\assets\icon\img\imagenlogo-Avatar.png">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<br>

<ion-content [fullscreen]="true" class="background">

<ion-card id="conte" color="black"> 
    <ion-col  size="5">
      <ion-button size="large" expand="block" 
      class="ion-text-wrap" color="primary" type="submit" fill="outline" routerLink="/salidas"> 
        <div>
          <img src="\assets\icon\img\llave.png"> 
          <br>
          <label for="">CLAVE</label>
        </div> 
      </ion-button>
      <br>
      <ion-button size="large" expand="block" class="ion-text-wrap" 
      color="success" text="fixed" fill="outline">
        <div>
          <img src="\assets\icon\img\codigo-qr.png">
          <br>
          <label for="">CÓDIGO QR</label>
        </div>
      </ion-button>

      <br>
      <ion-button routerLink="/proveedores-salida" size="large" expand="block"
       class="ion-text-wrap" color="primary"
        fill="outline">
        <div>
          <img src="\assets\icon\img\entrega.png">
          <br>
          <label for="">PROVEEDOR</label>
        </div>
      </ion-button>
      <br>
      <ion-button routerLink="/sin-acceso-salidas" size="large" expand="block" class="ion-text-wrap" 
      color="success" fill="outline">
        <div>
          <img src="\assets\icon\img\senal-de-stop.png">
          <br>
          <label for="">SIN ACCESO</label>
        </div>
      </ion-button>
      <br>
    </ion-col>
</ion-card>
</ion-content>