<ion-header>
  <ion-toolbar color="danger" routerLink="/btn-inicio" >
    <ion-icon name="arrow-back" slot="start" size="large"></ion-icon>
    <ion-title class="ion-text-center">S.O.S</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
<ion-card align="center">
  <ion-button fill="outline" color="danger"> 
    <div>
    <img src="\assets\icon\quedate-en-casa.png">
    <br>
    <ion-label>Medica</ion-label>
   </div></ion-button>
</ion-card>

<ion-card align="center">
  <ion-button fill="outline">
    <div>
      <img src="\assets\icon\proteger.png">
      <br>
      <ion-label>Robo</ion-label> 
     </div></ion-button>
</ion-card>

<ion-card align="center">
  <ion-button class="ion-text-lowercase" fill="outline" color="success">
    <div>
      <img src="\assets\icon\huracan.png">
      <br>
      <ion-label>Siniestro</ion-label> 
     </div></ion-button>
</ion-card>
</ion-content>