<app-header titulo="BUSCADOR DE VISITAS"></app-header>




<ion-content [fullscreen]="true" class="background">
  <br>
  <br>
 
<ion-card>
  
  <div align="center">
    <ion-item align="center">
    <ion-label class="color" position="floating">INGRESAR NOMBRE</ion-label>
    <ion-input></ion-input>
  </ion-item>
  </div>

 
</ion-card>
<br>
<ion-card>
    <div align="center">
    <ion-item align="center">
    <ion-label class="color" position="floating">INGRESAR DOMICILIO</ion-label>
    <ion-input></ion-input>
  </ion-item>
  </div>
</ion-card>

<div align="center">
<ion-button  
            color="primary"
            fill="outline"> 
             <img src="\assets\icon\img\zoom.png">
          </ion-button>
</div>

<ion-card>
  <ion-list lines="none">
    <ion-item-sliding>
      <ion-item class="no-padding">  
        <ion-icon name="add-circle-sharp" slot="end" color="success"></ion-icon>
        <ion-label class="color">
          <h2>JAMES RICHARDSON</h2>
          <p> <ion-icon name="navigate-circle" slot="start"></ion-icon> San Fransisco CA</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list lines="none">
    <ion-item-sliding>
      <ion-item class="no-padding">  
        <ion-icon name="add-circle-sharp" slot="end" color="success"></ion-icon>
        <ion-label class="color">          
          <h2>MADELINE KENNEDY </h2>
          <p> <ion-icon name="navigate-circle" slot="start"></ion-icon> San Fransisco CA</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-card>


<ion-card>
  <ion-list lines="none">
    <ion-item-sliding>
      <ion-item class="no-padding">  
        <ion-icon name="add-circle-sharp" slot="end" color="success"></ion-icon>
        <ion-label class="color">
          <h2>ANNA COLEMAN</h2>
          <p> <ion-icon name="navigate-circle" slot="start"></ion-icon> San Fransisco CA</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-card>

</ion-content>
