<ion-header>
    <ion-toolbar class="ion-text-center" color="primary" routerLink="/btn-inicio">
      <ion-row>
        <ion-col size="1">
          <ion-icon class="return" name="arrow-back"></ion-icon>
        </ion-col>
  
        <ion-col size="9">
  
          ENTRADAS 
  
        </ion-col>
        <ion-col size="2">
          <img routerLink="btn-inicio" class="avatar" src="\assets\icon\img\imagenlogo-Avatar.png">
        </ion-col>
      </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">
    <h1 text-capitalize></h1>


<ion-card id="id">


        <ion-col size="5">
            <ion-button size="large" expand="block" class="ion-text-wrap"  type="submit" routerLink="/access">
                <div>
                    <img src="\assets\icon\img\llave.png">
                    <br>
                    <label for="">CLAVE</label> 
                </div>
            </ion-button>
            <br>
            <ion-button id="verde" size="large" expand="block" class="ion-text-wrap" 
                text="fixed"  (click)="scan()"
                >
                <div>
                    <img src="\assets\icon\img\codigo-qr.png">
                    <br>
                    <label for="">CÓDIGO QR</label>
                </div>
            </ion-button>
            <br>
            <ion-button routerLink="/proovedores" size="large" expand="block"  
                >
                <div>
                    <img src="\assets\icon\img\entrega.png">
                    <br>
                    <label for="">PROVEEDOR</label>
                </div>
            </ion-button>            
            <br>
            <ion-button routerLink="/noacceso" size="large" expand="block" 
              id="verde">
                <div>
                    <img src="\assets\icon\img\senal-de-stop.png">
                    <br>
                    <label for="">SIN ACCESO</label>
                </div>
            </ion-button>
            <br>
            <ion-button routerLink="/buscarvisitas" size="large" expand="block"
                
                >
                <div>
                    <img src="\assets\icon\img\zoom.png">
                    <br>
                    <label for="">BUSCAR</label>
                </div>
            </ion-button>
        </ion-col>
    </ion-card>
</ion-content>