<ion-header>
    <ion-toolbar class="ion-text-center" color="primary" routerLink="/tipos-visitas">
      <ion-row>
        <ion-col size="1">
          <ion-icon class="return" name="arrow-back"></ion-icon>
        </ion-col>
  
        <ion-col size="9">
  
          ENTRADAS 
  
        </ion-col>
        <ion-col size="2">
          <img class="avatar" src="\assets\icon\img\imagenlogo-Avatar.png">
        </ion-col>
      </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">
    <h1 text-capitalize></h1>





        <ion-col size="5">
            <ion-button size="large" expand="block" class="ion-text-wrap" color="primary" type="submit" fill="outline" routerLink="/access">
                <div>
                    <img src="\assets\icon\img\llave.png">
                    <br>
                    <label for="">ACCESOS</label> 
                </div>
            </ion-button>
            <br>
            <ion-button routerLink="/datosinput" size="large" expand="block" class="ion-text-wrap" color="warning"
                text="fixed" fill="outline">
                <div>
                    <img src="\assets\icon\img\codigo-qr.png">
                    <br>
                    <label for="">QR</label>
                </div>
            </ion-button>
            <br>
            <ion-button routerLink="/noacceso" size="large" expand="block" class="ion-text-wrap" color="warning"
                fill="outline">
                <div>
                    <img src="\assets\icon\img\senal-de-stop.png">
                    <br>
                    <label for="">SIN ACCESO</label>
                </div>
            </ion-button>
            <br>
            <ion-button routerLink="/proovedores" size="large" expand="block" class="ion-text-wrap" color="warning"
                fill="outline">
                <div>
                    <img src="\assets\icon\img\entrega.png">
                    <br>
                    <label for="">PROVEEDOR</label>
                </div>
            </ion-button>
            <br>
            <ion-button routerLink="/buscarvisitas" size="large" expand="block" class="ion-text-end" color="warning"
                fill="outline">
                <div>
                    <img src="\assets\icon\img\zoom.png">
                    <br>
                    <label for="">BUSCAR</label>
                </div>
            </ion-button>
        </ion-col>
</ion-content>