
ion-content.background{
    --ion-background-color: #020111;
}

ion-label.color{
    color: #f4f5f8;
}

ion-input{
    color: #f4f5f8;
}

.imagen{
    width: 30%;
    height: 20%;
}

.return{
    font-size: 35px;
}