<app-header titulo="ENTRADAS"></app-header>
<br>
<br>
<br>
<ion-content [fullscreen]="true" class="background">

  <ion-row>
      <ion-button  size="large" 
                         expand="block" 
                         class="ion-text-wrap" 
                         color="primary" 
                         type="submit"
                         fill="outline">
                         <img src="\assets\icon\img\noac.png">                        
                        </ion-button>
    </ion-row>
    <br>
    <br>
  
  <ion-list>
    <ion-card>
    <ion-item>
      <ion-label class="color" position="floating">NOMBRE</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="color" position="floating">DOMICILIO</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="color" position="floating">TIPO DE ACCESO</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="color" position="floating">PLACAS</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="color" position="floating">OBSERVACIONES</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="color" position="floating">MODO DE INGRESO</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
 </ion-card>
  </ion-list>
  
  <ion-button expand="block" 
              color="primary"
              fill="outline"><ion-icon slot="icon-only" name="person-add" color="success"></ion-icon>
              REGISTRAR</ion-button>



</ion-content>
