  
  <ion-item color="primary">
    <ion-avatar slot="end">
      <img src="\assets\icon\img\log.png">
    </ion-avatar>
  </ion-item>
  <app-header titulo="DIRECTORIO"></app-header>

<ion-content [fullscreen]="true" class="background">

  <ion-card mode="ios">
    <ion-item>
      <ion-icon slot="start" name="person-sharp" color="light"></ion-icon>
      <ion-card-title color="light">Administrador</ion-card-title>
    </ion-item>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods.
    </ion-card-content>
  </ion-card>
<!------------------------------------------------------------------------------------>
  <ion-card mode="ios">
    <ion-item>
    <ion-icon slot="start" name="person-sharp" color="light"></ion-icon>
    <ion-card-title color="light">Presidente</ion-card-title>
    </ion-item>

    <ion-card-content >
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods.
    </ion-card-content>
  </ion-card>

<!------------------------------------------------------------------------------------>


  <ion-card mode="ios" >
    <ion-item>
      <ion-icon slot="start" name="person-sharp" color="light"></ion-icon>
      <ion-card-title color="light">Tesorero</ion-card-title>
     </ion-item>
  
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Provident expedita commodi modi laboriosamdolore accusantium 
    </ion-card-content>
  </ion-card>


<!------------------------------------------------------------------------------------>


   <ion-card mode="ios">
    <ion-item>
      <ion-icon slot="start" name="person-sharp" color="light"></ion-icon>
      <ion-card-title color="light">Condominos</ion-card-title>
    </ion-item>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>
