
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu de Opciones</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="background">
      <ion-list>
        <ion-menu-toggle *ngFor="let c of componentes | async">
          <ion-item color="light"
                  [routerLink]="c.redirectTo">
                  <ion-icon slot="start" [name]="c.icon"></ion-icon>
         {{c.name}}
        </ion-item>          
        </ion-menu-toggle>       
      </ion-list>
    </ion-content>
  </ion-menu>
